@media (min-width: 450px) and (min-height: 500px) {
  header .burger {
    display: none;
  }
  header .logo-container {
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-container img {
    width: 80%;
    padding: 0;
    padding-left: 10%;
  }
  header .menu-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu-container .nav {
    position: relative;
    width: 65vw;
    height: 5vh;
    top: 5vh;
    background-color: transparent;
    margin-bottom: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-property: none;
    transition-property: none;
  }
  header .menu-container ul {
    width: 65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .menu-container ul li {
    text-align: center;
    opacity: 1;
    padding: 0;
    width: 15vw;
    min-width: 50px;
  }
  header .menu-container ul li a {
    font-size: 0.8em;
    letter-spacing: 4px;
    font-weight: bold;
  }
  header .menu-container ul li a .active {
    font-weight: bold;
    background-color: transparent;
    color: #e9e9e9;
    border: 2px solid #ef9629;
  }
  .desktop-line {
    margin-top: 10px;
  }
  h3 {
    font-size: 1em;
    letter-spacing: 2px;
  }
  .prev:hover, .next:hover {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .container.left, .container.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90vw;
    margin: 2vh 0 0 0;
  }
  .container.left p, .container.right p {
    width: 40vw;
    font-size: 0.8em;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 2vw 0 2vw;
  }
  .container.left .carousel-container, .container.right .carousel-container {
    margin: 0;
    padding: 0;
  }
  .container.left ul li, .container.right ul li {
    line-height: 2;
    letter-spacing: 1px;
  }
  .container.left .carousel-container {
    padding-left: 5vw;
  }
  .container.left p {
    padding-left: 5vw;
  }
  .container.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100vw;
    padding-left: 5vw;
  }
  .container.right p {
    padding-right: 5vw;
  }
  .carousel-container .slideshow-container {
    width: 50vw;
  }
  .prev, .next {
    top: 45%;
    font-size: 0.8em;
    padding: 15px;
  }
}
/*# sourceMappingURL=desktop.css.map */