$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);

@media (min-width: 450px) and (min-height: 500px){
    header{
        .logo-container{
            padding-top: 5vh;
            .logo img{
                width: 75vw;
                max-width: 500px;
            }
            margin-bottom: 5vh;
        }
        .head-container{
            display:none;
        }
        .line-desktop{
            border-top: 1px solid $logo-color;
        }
        .menu-container{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nav{
                position: relative;
                width: 100vw;
                height: 5vh;
                top: 0;
                transform: translateX(0%);
                transition-property: none;
                ul{
                    width: 75vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    li{
                        display: in-line;
                        text-align: center;
                        opacity: 1;
                        padding: 0;
                        width: 25vw;
                        min-width: 50px;
                        a:hover{
                            font-size: 22px;
                        }
                        a{
                            font-size: 20px;
                            letter-spacing: 4px;
                            .active{
                                font-size:19px;
                            }
                        }
                    }
                }
            }
        }
    }

    .desktop-line{
        margin-top: 10px;
    }

    h3{
        font-size: 24px;
    }

    .container.left, .container.right{
        flex-direction: row;
        width: 90vw;
        margin: 2vh 0 0 0;
        p{
            width: 40vw;
            font-size: 20px;
            padding: 0 2vw 0 2vw;
        }
        .carousel-container{
            margin: 0;
            padding: 0;
        }
    }   

    .container.left{
        .carousel-container{
            padding-left: 5vw;
        }
        p{
            padding-left: 5vw;
        }
    }

    .container.right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100vw;
        padding-left: 5vw;
        p{
            padding-right: 5vw;
        }
    }

    .carousel-container{
        .slideshow-container{
            width: 50vw;
        }
    }

    .prev, .next{
        top: 35%;
        font-size: 20px;
        padding: 5vw;
    }
}