$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);
$font-size: 0.8em;
$font-active: 0.9em;
$font-header: 1em;


@media (min-width: 450px) and (min-height: 500px){
    header{
        .burger{
            display:none;
        }
        .logo-container{
            width: 35vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
                padding: 0;
                padding-left:10%;
            }
        }

        .menu-container{
            nav{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .nav{
                position: relative;
                width: 65vw;
                height: 5vh;
                top: 5vh;
                background-color: transparent;
                margin-bottom: 10vh;
                flex-direction: row;
                transform: translateX(0%);
                transition-property: none;
            }
            ul{
                width: 65vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                li{
                    text-align: center;
                    opacity: 1;
                    padding: 0;
                    width: 15vw;
                    min-width: 50px;
                    a{
                        font-size: $font-size;
                        letter-spacing: 4px;
                        font-weight: bold;
                        .active{
                            font-weight: bold;
                            background-color: transparent;
                            color: $font-color;
                            border: 2px solid $logo-color;
                        }
                    }
                }
            }
        }
    }

    .desktop-line{
        margin-top: 10px;
    }

    h3{
        font-size: $font-header;
        letter-spacing: 2px;
    }
    .prev:hover, .next:hover{
        border: 2px solid white;
        background-color: rgba(0,0,0,0.9);
    }

    .container.left, .container.right{
        flex-direction: row;
        width: 90vw;
        margin: 2vh 0 0 0;
        p{
            width: 40vw;
            font-size: $font-size;
            line-height: 2;
            letter-spacing: 1px;
            padding: 0 2vw 0 2vw;
        }
        .carousel-container{
            margin: 0;
            padding: 0;
        }
        ul{
            li{
                line-height: 2;
                letter-spacing: 1px;
            }
        }
    }   

    .container.left{
        .carousel-container{
            padding-left: 30px;
        }
        p{
            padding-left: 30px;
        }
    }

    .container.right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100vw;
        padding-left: 5vw;
        p{
            padding-right: 5vw;
        }
    }

    .carousel-container{
        .slideshow-container{
            width: 50vw;
        }
    }

    .prev, .next{
        top: 45%;
        font-size: $font-size;
        padding: 15px;
    }
}