* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #161616;
  height: 100%;
}

header {
  display: block;
  width: 100%;
  background-color: #161616;
}

header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11vh;
  margin-bottom: 15px;
}

header .logo-container .logo img {
  width: 90vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 98;
  width: 100vw;
  height: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  background-color: #161616;
  opacity: 0.95;
}

header .head-container #hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #161616;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10vh;
}

header .head-container #hamburger-menu img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: auto;
  z-index: 99;
  height: 8vh;
  min-height: 36px;
  max-height: 40px;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  opacity: 1;
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .menu-container .nav {
  position: absolute;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 75vw;
  top: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #161616;
  opacity: 0.95;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .menu-container .nav ul li {
  opacity: 0;
  list-style: none;
  padding: 10vh 0 10vh 0;
}

header .menu-container .nav ul li a:hover {
  font-size: 15px;
  font-weight: bold;
}

header .menu-container .nav ul a {
  color: #e9e9e9;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}

header .menu-container .nav ul a .active {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #ef9629;
  background-color: #161616;
}

header .menu-container .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .column {
  /*display: flex;
        flex-direction: column;
        align-items: center;*/
  position: relative;
}

.row .column img {
  width: 90vw;
  height: 50vh;
}

.center_button {
  position: absolute;
  pointer-events: none;
  width: 90vw;
  height: 50vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
}

.button-container {
  pointer-events: auto;
  padding-bottom: 10px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button-container button {
  background-color: #161616;
  border-radius: 8px;
  width: 80px;
  height: 28px;
  color: #e9e9e9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.button-container .active-button {
  background-color: #e9e9e9;
  color: black;
  border: 1px solid black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 105;
  padding-top: 5vh;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #161616;
}

.modal-content {
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
}

.center_button_modal {
  position: absolute;
  width: 90vw;
  height: 90vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
}

.close {
  color: white;
  position: absolute;
  right: 5vw;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  position: relative;
}

.mySlides img {
  width: 90vw;
  height: 70vh;
  padding-top: 10vh;
}

.cursor {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 5vw;
  color: white;
  font-weight: bold;
  font-size: 38px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#submit {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submit #submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submit #submit-button .halfCircleLeft {
  width: 25px;
  height: 45px;
  border: 3px solid #e9e9e9;
  border-right: none;
  border-radius: 25px 0 0 25px;
}

#submit #submit-button .rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 45px;
  border-top: 3px solid #e9e9e9;
  border-bottom: 3px solid #e9e9e9;
  text-align: center;
}

#submit #submit-button .rectangle .request-container {
  padding-top: 2px;
}

#submit #submit-button .rectangle .request-container a {
  text-decoration: none;
  color: #e9e9e9;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#submit #submit-button .halfCircleRight {
  width: 25px;
  height: 45px;
  border: 3px solid #e9e9e9;
  border-left: none;
  border-radius: 0 25px 25px 0;
}

#line {
  border-top: 1px solid #ef9629;
  margin-top: 5vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #contact-info {
  padding: 4vh 0 2vh 0;
  color: #e9e9e9;
  text-align: center;
  font-size: 15px;
}

footer #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #social-media #social-icons img {
  background-color: #e9e9e9;
  border-radius: 50%;
  border: 2px solid #e9e9e9;
  width: auto;
  height: 7vh;
  min-height: 40px;
  max-height: 45px;
  margin: 0 1vw 2vh 1vw;
}

footer #social-media #social-icons img:hover {
  background-color: white;
  border-width: 3px;
}
/*# sourceMappingURL=mobile.css.map */