$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100% $font-stack;
    overflow-x:hidden;
    background-color: $background-color;
    height:100%;
}

// top navigation bar 

header {
    display: block;
    width: 100%;
    background-color: $background-color;
// Logo styling     
    .logo-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 11vh;
        margin-bottom: 15px;
        .logo img{
            width: 90vw;
            align-self:center;
        }
    }
// Hamburger menu styling 
    .head-container{
        display: flex;
        position:fixed;
        z-index: 98;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;
        background-color: $background-color;
        opacity: 0.95;
        #hamburger-menu{
            display:flex;
            margin: 0;
            padding: 0;
            background-color: $background-color;
            align-self: center;
            justify-content: flex-end;
            height: 10vh;
            img {
                display: flex;
                align-self:center;
                width: auto;
                z-index: 99;
                height: 8vh;
                min-height: 36px;
                max-height: 40px;
                padding-right: 5vw;
                padding-top: 1vh;
                padding-bottom: 1vh;
                opacity: 1;

            }
        }
    }
// menu styling and animations
    .menu-container{
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
        // menu styling when hamburger button is pressed
        .nav{
            position: absolute;
            z-index: 100;
            position: fixed;
            display:flex;
            height: 90vh;
            width: 75vw;
            top: 10vh;
            align-items:center;
            justify-content: space-around;
            background-color: $background-color;
            opacity: 0.95;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            ul{
                li{
                    opacity: 0;
                    a:hover{
                        font-size: 15px;
                        font-weight:bold;
                    }
                    list-style: none;
                    padding: 10vh 0 10vh 0;
                    }
                    a{
                        color: $font-color;
                        text-decoration: none;
                        letter-spacing: 3px;
                        font-size: 14px;
                        .active{
                            font-size: 16px;
                            font-weight: bold;
                            text-decoration: underline;
                            color: $logo-color;
                            background-color:$background-color;
                    }
                }
            }
    
        }
        .nav-active{
            transform: translateX(0%)
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }

            to{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

}

#link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    #interior-container, #exterior-container{
        position: relative;
        text-align: center;
        a{
            img{
                width: 90vw;
                height: 40vh;
                opacity: 0.65;
            }
            .text{
                text-decoration: none;
                letter-spacing: 1px;
                color: $font-color;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }    
        }
        a:hover{
            img{
                opacity: 0.5;
            }    
            .text{
                letter-spacing: 2px;
                font-size: 24px;
                color: white;
            }
        }        
    }

}


// submit quote

#submit{
    margin-top: 5vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    #submit-button{
        display:flex;
        flex-direction:row;
        justify-content: center;
        .halfCircleLeft{
            width: 25px;
            height: 45px;
            border: 3px solid $font-color;
            border-right: none;
            border-radius: 25px 0 0 25px;
        }
        .rectangle{
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 145px;
            height: 45px;
            border-top: 3px solid $font-color;
            border-bottom: 3px solid $font-color;
            text-align:center;
            .request-container{
                padding-top: 2px;
                a{
                    text-decoration: none;
                    color: $font-color;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }
            }

        }
        .halfCircleRight{
            width: 25px;
            height: 45px;
            border: 3px solid $font-color;
            border-left: none;
            border-radius: 0 25px 25px 0;            
        }
    }

}

//footer
#line{
    border-top: 1px solid $logo-color;
    margin-top: 5vh;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contact-info{
        padding: 4vh 0 2vh 0;
        // margin-bottom: 5vh;
        color: $font-color;
        text-align: center;
        font-size: 15px;
    }
    #social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        #social-icons{
            img{
                background-color: $font-color;
                border-radius:50%;
                border: 2px solid $font-color;
                width: auto;
                height: 7vh;
                min-height: 40px;
                max-height: 45px;
                margin: 0 1vw 2vh 1vw;
            }
            img:hover{
                background-color: white;
                border-width: 3px;
            }
        }


    }
}