@media (min-width: 475px) and (min-height: 500px) {
  header .burger {
    display: none;
  }
  header .logo-container {
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-container img {
    width: 80%;
    padding: 0;
    padding-left: 10%;
    max-width: 450px;
  }
  header .menu-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu-container .nav {
    position: relative;
    width: 65vw;
    height: 5vh;
    top: 5vh;
    background-color: transparent;
    margin-bottom: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-property: none;
    transition-property: none;
  }
  header .menu-container ul {
    width: 65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .menu-container ul li {
    text-align: center;
    opacity: 1;
    padding: 0;
    width: 15vw;
    min-width: 50px;
  }
  header .menu-container ul li a {
    font-size: 0.8em;
    letter-spacing: 4px;
    font-weight: bold;
  }
  header .menu-container ul li a .active {
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 2px solid #ef9629;
  }
  #contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5vh;
  }
  fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
    min-width: 500px;
    max-width: 700px;
    margin: 0;
  }
  fieldset .input-field, fieldset .dropdown-field, fieldset .message-field {
    width: 90%;
    margin: 4vh 0 0 10%;
  }
  fieldset input, fieldset .select-container {
    width: 90%;
  }
  fieldset input img, fieldset .select-container img {
    right: 30vw;
  }
  fieldset .select-container {
    border: none;
  }
  fieldset .select-container select {
    display: none;
  }
  fieldset .select-container img {
    display: none;
  }
  fieldset textarea {
    width: 90%;
  }
  fieldset .select-hide {
    display: none;
  }
  fieldset .select-items div:hover, fieldset .same-as-selected {
    background: rgba(239, 199, 41, 0.1);
  }
  fieldset .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
  }
  fieldset .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 7px;
  }
  fieldset .select-selected {
    background-color: white;
  }
  fieldset .select-items div, fieldset .select-selected {
    color: #171717;
    padding: 8px 16px;
    border: 2px solid #171717;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  fieldset .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  fieldset .select-hide {
    display: none;
  }
  fieldset .select-items div:hover, fieldset .same-as-selected {
    background: rgba(239, 199, 41, 0.1);
  }
  fieldset textarea {
    margin-bottom: 4vh;
  }
}
/*# sourceMappingURL=desktop.css.map */