$font-stack: Helvetica, sans-serif;
$font-color: rgb(255, 255, 255);
$font-form: rgb(23,23,23);
$background-color: rgb(255, 255, 255);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);
$font-size: 0.8em;
$font-active: 0.9em;
$font-header: 1em;

@media(min-width: 475px) and (min-height:500px){
    header{
        .burger{
            display:none;
        }
        .logo-container{
            width: 35vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
                padding: 15px 0 0 15px;
                max-width: 450px;
            }
        }

        .menu-container{
            nav{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .nav{
                position: relative;
                width: 65vw;
                height: 5vh;
                top: 5vh;
                background-color: transparent;
                margin-bottom: 10vh;
                flex-direction: row;
                transform: translateX(0%);
                transition-property: none;
            }
            ul{
                width: 65vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                li{
                    text-align: center;
                    opacity: 1;
                    padding: 0;
                    width: 15vw;
                    min-width: 50px;
                    a{
                        font-size: $font-size;
                        letter-spacing: 4px;
                        font-weight: bold;
                        .active{
                            font-weight: bold;
                            background-color: transparent;
                            color: $font-color;
                            border: 2px solid $logo-color;
                        }
                    }
                }
            }
        }
    }




    #contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        min-width: 500px;
        max-width: 700px;
        margin:0;
        .input-field, .dropdown-field, .message-field{
            width: 90%;
            margin: 4vh 0 0 10%;
        }
        input, .select-container{
            width: 90%;
            img{
                right: 30vw;
            }
        }
        .select-container{
            border:none;
            select{
                display:none;
            }
            img{
                display:none;
            }
        }
        textarea{
            width: 90%;
        }
   
        .select-hide{
            display: none;
        }
    
        .select-items div:hover, .same-as-selected{
            background: rgba(239, 199, 41, 0.1);
        }

        .select-selected:after{
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #000 transparent transparent transparent;
        }
    
        .select-selected.select-arrow-active:after{
            border-color: transparent transparent #000 transparent;
            top: 7px;
        }
    
        .select-selected{
            background-color: $background-color;
        }
        .select-items div, .select-selected{
            color: $font-form;
            padding: 8px 16px;
            border: 2px solid $font-form;
            border-radius: 5px;
            width: 100%;
            //border-color: transparent transparent rgba(0,0,0,0.1) transparent;
            cursor: pointer;
            user-select: none;
        }
    
        .select-items{
            position: absolute;
            background-color: $background-color;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
        }
    
        .select-hide{
            display: none;
        }
    
        .select-items div:hover, .same-as-selected{
            background: rgba(239, 199, 41, 0.1);
        }
        textarea{
            margin-bottom: 4vh;
        }
    }
}