$font-stack: Helvetica, sans-serif;
$font-color: rgb(22, 22, 22);
$background-color: white;
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);
$font-size: 0.8em;
$font-active: 0.9em;
$font-header: 1em;
$mobile-color: rgb(22,22,22);
$mobile-text: rgb(233,233,233);
$button-color: rgb(255, 166, 64);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100% $font-stack;
    overflow-x:hidden;
    background-color: $background-color;
    height:100%;
}

// top navigation bar 
header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    background: rgba(61, 61, 61, 0.5);
// Logo styling     
    .logo-container{
        display:block;
        margin-bottom: 15px;
        img{
            width: 60%;
            padding: 0.6em;
        }
    }
// Hamburger menu styling 
    .burger div{
        display: block;
        width: 25px;
        height: 3px;
        background-color: $font-color;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .burger{
        padding: 1em;
        padding-right: .5em;
        position: fixed;
        z-index: 110;
    }
// menu styling and animations
    .menu-container{
        display:flex;
        flex-direction:row;
        //justify-content: flex-end;
        // menu styling when hamburger button is pressed
        .burger-logo-container{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .nav{
            position: absolute;
            z-index: 100;
            position: fixed;
            display:flex;
            height:100vh;
            width: 75vw;
            top: 0;
            right: 0;
            align-items:center;
            flex-direction: column;
            background-color: $mobile-color;
            opacity: 0.8;
            transform: translateX(100%);
            transition: transform 0.5s ease-in; 
        }
        ul{
            li{
                opacity: 0;
                a:hover{
                    font-weight:bold;
                    font-size: $font-active;
                }
                list-style: none;
                padding: 10vh 0 10vh 0;
                }
                a{
                    color: $mobile-text;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-size: $font-size;
                    .active{
                        font-weight: bold;
                        text-decoration: underline;
                        color: $logo-color;
                        background-color:rgb(22, 22, 22);
                }
            }
        }
        .nav-active{
            transform: translateX(0%)
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }

            to{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
        background-color: white;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
        background-color: white;
    }
}
.center-icons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    .contact-icons-container{
        flex-direction:column;
        margin: 3vh 0 5vh 0;
        .contact-icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2vh 5vw 0 5vw;
            p{
                margin-left: 5vw;
                a{
                    text-decoration: none;
                    color:$font-color;
                }
            }
        }
        img{
            width: auto;
            min-height: 40px;
            max-height: 45px;
        }
    }
}


legend{
    text-align: center;
    h2{
        color: $font-color;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 3px;
    }
}



fieldset{
    width: 90vw;
    margin: 0 0 5vh 5vw;
    .input-field, .dropdown-field, .message-field{
        width: 80vw;
        margin: 4vh 0 0 5vw;
    }
    label{
        color:$font-color;
        margin-top: 2vh;
        font-size: $font-header;
    }
    input, .select-container{
        width: 80vw;
        border-radius: 5px;
        min-height: 30px;
        max-height: 40px;
        height: 10vh;
        border: 2px solid $font-color;
        background-color:transparent;
        color: $font-color;
        padding: 0 0 0 0.75rem;
        font-size: $font-size;
    }
    .select-container{
        display: flex;
        align-items: center;
        padding: 0 0 0 0;
        position: relative;
        border: 2px solid $font-color;
        select{
            width: 100vw;
            min-height: 30px;
            max-height: 40px;
            height: 10vh;
            background-color:transparent;
            color: $font-color;
            padding: 0 0 0 0.75rem;
            position: relative;
            appearance: none;
            font-size: $font-size;
        }
        img{
            position: absolute;
            right: 5px;
        }
    }

    textarea{
        width: 80vw;
        height: 20vh;
        min-height: 150px;
        max-height: 300px;
        color: $font-color;
        background-color: transparent;
        padding: 0.75rem 0 0 1rem;
        border: 2px solid $font-color;
        border-radius: 5px;
        font-size: $font-size;
    }
    .message-field{
        margin-bottom: 5vh;
    }
    select::invalid{
        color: grey;
    }
    ::placeholder{
        color: grey;
    }
    input:focus, select:focus, textarea:focus{
        background: rgba(239, 199, 41, 0.1);
    }
}

@keyframes autofill{
    to{
        color:$font-color;
        background:transparent;
    }
}
@-webkit-keyframes autofill{
    to{
        color:$font-color;
        background-color:transparent;
    }
}

input:autofill{
    animation-name: autofill;
    animation-fill-mode: both;
}

input:-webkit-autofill{
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-name: autofill;
    animation-fill-mode: both;
}




.center-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh 0 5vh 0;
    .button-container{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
#submit-btn{
    margin-top: 5vh;
    color: $font-color;
    font-size: $font-header;
    letter-spacing: 4px;
    border: 2px solid $button-color;
    width: 160px;
    height: 38px;
    border-radius: 30px;
    cursor: not-allowed;
}
#submit-btn:hover:enabled{
    background-color: $button-color;
    border-color: $font-color;
    color: $mobile-text;
}



// footer
.line{
    border-top: 2px solid $logo-color;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contact-info{
        a{
            text-decoration: none;
            color: $font-color;
        }
        padding: 4vh 0 2vh 0;
        color: $font-color;
        text-align: center;
        font-size: $font-size;
    }
    #social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        #social-icons{
            a{
                text-decoration: none;
            }
            img{
                background-color: $logo-color;
                border-radius:50%;
                border: 1px solid $logo-color;
                width: auto;
                height: 7vh;
                min-height: 40px;
                max-height: 45px;
                margin: 0 1vw 2vh 1vw;
            }
            img:hover{
                border-width: 2px;
                border-color: black;
            }
        }
    }
    background: rgba(23,23,23,0.2);
}
