$font-stack: Helvetica, sans-serif;
$font-size: 20px;
$label-size: 25px;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100% $font-stack;
    overflow-x:hidden;
    background-color: $background-color;
    height:100%;
}

// top navigation bar 

header {
    display: block;
    width: 100%;
    background-color: $background-color;
// Logo styling     
    .logo-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 11vh;
        margin-bottom: 15px;
        .logo img{
            width: 90vw;
            align-self:center;
        }
    }
// Hamburger menu styling 
    .head-container{
        display: flex;
        position:fixed;
        z-index: 98;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;
        background-color: $background-color;
        opacity: 0.95;
        #hamburger-menu{
            display:flex;
            margin: 0;
            padding: 0;
            background-color: $background-color;
            align-self: center;
            justify-content: flex-end;
            height: 10vh;
            img {
                display: flex;
                align-self:center;
                width: auto;
                z-index: 99;
                height: 8vh;
                min-height: 36px;
                max-height: 40px;
                padding-right: 5vw;
                padding-top: 1vh;
                padding-bottom: 1vh;
                opacity: 1;

            }
        }
    }
// menu styling and animations
    .menu-container{
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
        // menu styling when hamburger button is pressed
        .nav{
            position: absolute;
            z-index: 100;
            position: fixed;
            display:flex;
            height: 90vh;
            width: 75vw;
            top: 10vh;
            align-items:center;
            justify-content: space-around;
            background-color: $background-color;
            opacity: 0.95;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            ul{
                li{
                    opacity: 0;
                    a:hover{
                        font-size: 15px;
                        font-weight:bold;
                    }
                    list-style: none;
                    padding: 10vh 0 10vh 0;
                    }
                    a{
                        color: $font-color;
                        text-decoration: none;
                        letter-spacing: 3px;
                        font-size: 14px;
                        .active{
                            font-size: 16px;
                            font-weight: bold;
                            text-decoration: underline;
                            color: $logo-color;
                            background-color:$background-color;
                    }
                }
            }
    
        }
        .nav-active{
            transform: translateX(0%)
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }

            to{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

}

legend{
    text-align: center;
    h2{
        color: $font-color;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 3px;
    }
}


fieldset{
    width: 90vw;
    margin: 5vw 0 0 5vw;
    .input-field, .dropdown-field, .message-field{
        width: 80vw;
        margin: 4vh 0 0 5vw;
    }
    label{
        color:$font-color;
        margin-top: 2vh;
        font-size: $label-size;
    }
    input, .select-container{
        width: 80vw;
        border-radius: 5px;
        min-height: 30px;
        max-height: 40px;
        height: 10vh;
        border: 2px solid $font-color;
        background-color:transparent;
        color: $font-color;
        padding: 0 0 0 0.75rem;
        font-size: $font-size;
    }
    .select-container{
        display: flex;
        align-items: center;
        padding: 0 0 0 0;
        position: relative;
        border: none;
        select{
            width: 100vw;
            min-height: 30px;
            max-height: 40px;
            height: 10vh;
            background-color:transparent;
            color: $font-color;
            padding: 0 0 0 0.75rem;
            position: relative;
            appearance: none;
            font-size: $font-size;
            display: none;
        }
    }
    .select-selected{
        background-color: $background-color;
    }
    .select-selected:after{
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after{
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

    .select-items div, .select-selected{
        color: $font-color;
        padding: 8px 16px;
        border: 2px solid $font-color;
        border-radius: 5px;
        width: 100%;
        //border-color: transparent transparent rgba(0,0,0,0.1) transparent;
        cursor: pointer;
        user-select: none;
    }

    .select-items{
        position: absolute;
        background-color: $background-color;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide{
        display: none;
    }

    .select-items div:hover, .same-as-selected{
        background: rgba(239, 199, 41, 0.1);
    }

    textarea{
        width: 80vw;
        height: 20vh;
        min-height: 150px;
        max-height: 300px;
        color: $font-color;
        background-color: transparent;
        padding: 0.75rem 0 0 1rem;
        border: 2px solid $font-color;
        border-radius: 5px;
        font-size: $font-size;
    }
    .message-field{
        margin-bottom: 5vh;
    }

    ::placeholder{
        color: grey;
    }
    input:focus, select:focus, textarea:focus{
        background: rgba(239, 199, 41, 0.1);
    }
}
@keyframes autofill{
    to{
        color:$font-color;
        background:transparent;
    }
}
@-webkit-keyframes autofill{
    to{
        color:$font-color;
        background-color:transparent;
    }
}

input:autofill{
    animation-name: autofill;
    animation-fill-mode: both;
}

input:-webkit-autofill{
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.center-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    .button-container{
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button{
            color: $font-color;
            font-size: 25px;
            letter-spacing: 5px;
            background-color: $background-color;
            border: 2px solid $font-color;
            width: 200px;
            height: 38px;
            border-radius: 30px;
        }
    }
}


// footer
.line{
    border-top: 1px solid $logo-color;
    margin-top: 5vh;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contact-info{
        a{
            text-decoration: none;
            color: $font-color;
        }
        padding: 4vh 0 2vh 0;
        color: $font-color;
        text-align: center;
        font-size: 15px;
    }
    #social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        #social-icons{
            a{
                text-decoration: none;
            }
            img{
                background-color: $font-color;
                border-radius:50%;
                border: 2px solid $font-color;
                width: auto;
                height: 7vh;
                min-height: 40px;
                max-height: 45px;
                margin: 0 1vw 2vh 1vw;
            }
            img:hover{
                background-color: white;
                border-width: 3px;
            }
        }
    }
}