* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 100% Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: white;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background: rgba(61, 61, 61, 0.5);
}

header .logo-container {
  display: block;
  margin-bottom: 15px;
}

header .logo-container img {
  width: 60%;
  padding: 0.6em;
}

header .burger div {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #161616;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .burger {
  padding: 1em;
  padding-right: .5em;
  position: fixed;
  z-index: 110;
}

header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .menu-container .burger-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-container .nav {
  position: absolute;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 75vw;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #161616;
  opacity: 0.8;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header .menu-container ul li {
  opacity: 0;
  list-style: none;
  padding: 10vh 0 10vh 0;
}

header .menu-container ul li a:hover {
  font-weight: bold;
  font-size: 0.9em;
}

header .menu-container ul a {
  color: #e9e9e9;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 0.8em;
}

header .menu-container ul a .active {
  font-weight: bold;
  text-decoration: underline;
  color: #ef9629;
  background-color: #161616;
}

header .menu-container .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.center-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-icons .contact-icons-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3vh 0 5vh 0;
}

.center-icons .contact-icons-container .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh 5vw 0 5vw;
}

.center-icons .contact-icons-container .contact-icon p {
  margin-left: 5vw;
}

.center-icons .contact-icons-container .contact-icon p a {
  text-decoration: none;
  color: #161616;
}

.center-icons .contact-icons-container img {
  width: auto;
  min-height: 40px;
  max-height: 45px;
}

legend {
  text-align: center;
}

legend h2 {
  color: #161616;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
}

fieldset {
  width: 90vw;
  margin: 0 0 5vh 5vw;
}

fieldset .input-field, fieldset .dropdown-field, fieldset .message-field {
  width: 80vw;
  margin: 4vh 0 0 5vw;
}

fieldset label {
  color: #161616;
  margin-top: 2vh;
  font-size: 1em;
}

fieldset input, fieldset .select-container {
  width: 80vw;
  border-radius: 5px;
  min-height: 30px;
  max-height: 40px;
  height: 10vh;
  border: 2px solid #161616;
  background-color: transparent;
  color: #161616;
  padding: 0 0 0 0.75rem;
  font-size: 0.8em;
}

fieldset .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 0;
  position: relative;
  border: 2px solid #161616;
}

fieldset .select-container select {
  width: 100vw;
  min-height: 30px;
  max-height: 40px;
  height: 10vh;
  background-color: transparent;
  color: #161616;
  padding: 0 0 0 0.75rem;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 0.8em;
}

fieldset .select-container img {
  position: absolute;
  right: 5px;
}

fieldset textarea {
  width: 80vw;
  height: 20vh;
  min-height: 150px;
  max-height: 300px;
  color: #161616;
  background-color: transparent;
  padding: 0.75rem 0 0 1rem;
  border: 2px solid #161616;
  border-radius: 5px;
  font-size: 0.8em;
}

fieldset .message-field {
  margin-bottom: 5vh;
}

fieldset select::invalid {
  color: grey;
}

fieldset ::-webkit-input-placeholder {
  color: grey;
}

fieldset :-ms-input-placeholder {
  color: grey;
}

fieldset ::-ms-input-placeholder {
  color: grey;
}

fieldset ::placeholder {
  color: grey;
}

fieldset input:focus, fieldset select:focus, fieldset textarea:focus {
  background: rgba(239, 199, 41, 0.1);
}

@keyframes autofill {
  to {
    color: #161616;
    background: transparent;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #161616;
    background-color: transparent;
  }
}

input:autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-name: autofill;
  animation-fill-mode: both;
}

.center-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vh 0 5vh 0;
}

.center-button .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#submit-btn {
  margin-top: 5vh;
  color: #161616;
  font-size: 1em;
  letter-spacing: 4px;
  border: 2px solid #ffa640;
  width: 160px;
  height: 38px;
  border-radius: 30px;
  cursor: not-allowed;
}

#submit-btn:hover:enabled {
  background-color: #ffa640;
  border-color: #161616;
  color: #e9e9e9;
}

#form-response {
  font-size: 1em;
  display: none;
  letter-spacing: 1px;
  color: black;
  margin: 5vh auto 5vh auto;
  text-align: center;
  width: auto;
}

.line {
  border-top: 2px solid #ef9629;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(23, 23, 23, 0.2);
}

footer #contact-info {
  padding: 4vh 0 2vh 0;
  color: #161616;
  text-align: center;
  font-size: 0.8em;
}

footer #contact-info a {
  text-decoration: none;
  color: #161616;
}

footer #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #social-media #social-icons a {
  text-decoration: none;
}

footer #social-media #social-icons img {
  background-color: #ef9629;
  border-radius: 50%;
  border: 1px solid #ef9629;
  width: auto;
  height: 7vh;
  min-height: 40px;
  max-height: 45px;
  margin: 0 1vw 2vh 1vw;
}

footer #social-media #social-icons img:hover {
  border-width: 2px;
  border-color: black;
}
/*# sourceMappingURL=mobile.css.map */