$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);

@media (min-height: 500px) and (min-width: 475px){
    header{
        .logo-container{
            padding-top: 5vh;
            .logo img{
                width: 75vw;
                max-width: 500px;
            }
            margin-bottom: 5vh;
        }
        .head-container{
            display:none;
        }
        .line-desktop{
            border-top: 1px solid $logo-color;
        }
        .menu-container{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .nav{
                position: relative;
                width: 100vw;
                height: 5vh;
                top: 0;
                transform: translateX(0%);
                transition-property: none;
                ul{
                    width: 75vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    li{
                        display: in-line;
                        text-align: center;
                        opacity: 1;
                        padding: 0;
                        width: 25vw;
                        min-width: 50px;
                        a:hover{
                            font-size: 18px;
                        }
                        a{
                            font-size: 17px;
                            letter-spacing: 4px;
                            .active{
                                font-size:19px;
                            }
                        }
                    }
                }
            }
        }
    }
    .row{
        margin-top: 2vh;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .column{
            img{
                max-width: 500px;
                max-height: 400px;
                width: 35vw;
                height: 30vh;
            }
        }
    }
    .center_button{
        max-width:500px;
        max-height:400px;
        width:35vw;
        height:30vh;
    }

    #submit{
        display:none;
    }

}