$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);
$font-size: 0.8em;
$font-active: 0.9em;
$font-header: 1em;


@media(min-width: 475px) and (min-height:500px){
    header{
        .burger{
            display:none;
        }
        .logo-container{
            width: 35vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
                padding: 0;
                padding-left:10%;
            }
        }

        .menu-container{
            nav{
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .nav{
                position: relative;
                width: 65vw;
                height: 5vh;
                top: 5vh;
                background-color: transparent;
                margin-bottom: 10vh;
                flex-direction: row;
                transform: translateX(0%);
                transition-property: none;
            }
            ul{
                width: 65vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                li{
                    text-align: center;
                    opacity: 1;
                    padding: 0;
                    width: 15vw;
                    min-width: 50px;
                    a{
                        font-size: $font-size;
                        letter-spacing: 4px;
                        font-weight: bold;
                        .active{
                            font-weight: bold;
                            background-color: transparent;
                            color: $font-color;
                            border: 2px solid $logo-color;
                        }
                    }
                }
            }
        }
    }
    .line-desktop{
        border-top: 1px solid $logo-color;
    }
    .desktop-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        .carousel-container{
            justify-content: center;
            //padding: 0 2vw 0 4vw;
            .slideshow-container{
                width: 100vw;
                height: 70vh;
                margin-top: 5vw;
               .next, .prev{
                    padding: 8px;
                    //max-width: 40px;
                    //max-height: 40px;
                }
            }
        }
        .desktop-container-about{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            #about-us-container{
                display: flex;
                flex-direction: column;
                width: 40vw;
                max-width: 400px;
                padding-top: 50px;
                div{
                    font-weight: 10;
                    letter-spacing: 4px;
                }
                p{

                    letter-spacing: 2px;
                    line-height: 2;
                }
            }
            .icon-container{
                width: 60vw;
                max-width: 600px;
                p{
                    padding: 0;
                    padding-left: 10px;
                }
                .icon-sentence{
                    margin-top: 20px;
                }
            }
        }

    }
    #submit{
        display:none;
    }

    #downward-arrow{
        display:none;
    }

    #contact-info{
        margin: 0;
        padding-top: 2vh;
    }

}