@media (min-width: 475px) and (min-height: 500px) {
  header .burger {
    display: none;
  }
  header .logo-container {
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-container img {
    width: 80%;
    padding: 15px 0 0 15px;
    max-width: 450px;
  }
  header .menu-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu-container .nav {
    position: relative;
    width: 65vw;
    height: 5vh;
    top: 5vh;
    background-color: transparent;
    margin-bottom: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-property: none;
    transition-property: none;
  }
  header .menu-container ul {
    width: 65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .menu-container ul li {
    text-align: center;
    opacity: 1;
    padding: 0;
    width: 15vw;
    min-width: 50px;
  }
  header .menu-container ul li a {
    font-size: 0.8em;
    letter-spacing: 4px;
    font-weight: bold;
  }
  header .menu-container ul li a .active {
    font-weight: bold;
    background-color: transparent;
    color: #e9e9e9;
    border: 2px solid #ef9629;
  }
  .prev:hover, .next:hover {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .line-desktop {
    border-top: 1px solid #ef9629;
  }
  .desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .desktop-container-about #about-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40vw;
    max-width: 400px;
    padding-top: 30px;
  }
  .desktop-container-about #about-us-container div {
    font-weight: 10;
    letter-spacing: 4px;
  }
  .desktop-container-about #about-us-container p {
    letter-spacing: 1px;
    line-height: 2;
  }
  .desktop-container-about .icon-container {
    width: 60vw;
    max-width: 700px;
  }
  .desktop-container-about .icon-container .icon-sentence {
    margin-top: 20px;
  }
  .desktop-container-about .icon-container .icon-sentence p {
    padding: 0;
    padding-left: 30px;
    letter-spacing: 1px;
  }
  #submit {
    display: none;
  }
  #downward-arrow {
    display: block;
    position: absolute;
    top: 90vh;
  }
  #downward-arrow a {
    color: white;
  }
  #downward-arrow a:hover {
    color: #ef9629;
  }
  #contact-info {
    margin: 0;
    padding-top: 2vh;
  }
  #about-us-container p {
    text-align: left;
  }
}
/*# sourceMappingURL=desktop.css.map */