@media (min-width: 475px) and (min-height: 500px) {
  header .logo-container {
    width: 30vw;
  }
  header .logo-container img {
    width: 80%;
    padding: 0;
    padding-top: 20px;
    padding-left: 10%;
  }
  header .burger {
    display: none;
  }
  header .menu-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .menu-container .nav {
    position: relative;
    width: 70vw;
    height: 5vh;
    top: 0;
    margin-bottom: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-property: none;
    transition-property: none;
  }
  header .menu-container ul {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .menu-container ul li {
    text-align: center;
    opacity: 1;
    padding: 0;
    width: 25vw;
    min-width: 50px;
  }
  header .menu-container ul li a:hover {
    font-size: 18px;
  }
  header .menu-container ul li a {
    font-size: 17px;
    letter-spacing: 4px;
  }
  header .menu-container ul li a .active {
    font-size: 19px;
  }
  .line-desktop {
    border-top: 1px solid #ef9629;
  }
  .desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-container .carousel-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop-container .carousel-container .slideshow-container {
    width: 90vw;
    height: 70vh;
    margin-top: 5vw;
  }
  .desktop-container .carousel-container .slideshow-container .next, .desktop-container .carousel-container .slideshow-container .prev {
    padding: 8px;
  }
  .desktop-container #about-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30vw;
    margin-top: 4vw;
  }
  .desktop-container #about-us-container div {
    margin-top: 0;
    font-weight: 6;
    font-size: 22px;
    letter-spacing: 3px;
  }
  .desktop-container #about-us-container p {
    font-size: 15px;
    letter-spacing: 1px;
  }
  #submit {
    display: none;
  }
  #downward-arrow {
    display: none;
  }
  #contact-info {
    margin: 0;
    padding-top: 2vh;
  }
}
/*# sourceMappingURL=desktop.css.map */