$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);

@media(min-width: 475px) and (min-height:500px){
    header{
        .logo-container{
            width: 30vw;
            img{
                width: 80%;
                padding: 0;
                padding-top:20px;
                padding-left:10%;
            }
        }

        .burger{
            display:none;
        }

        .menu-container{
            nav{
                display:flex;
                flex-direction: row;
                align-items: flex-end;
            }
            .nav{
                position: relative;
                width: 70vw;
                height: 5vh;
                top: 0;
                margin-bottom: 10vh;
                flex-direction: row;
                transform: translateX(0%);
                transition-property: none;
            }
            ul{
                width: 70vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                li{
                    text-align: center;
                    opacity: 1;
                    padding: 0;
                    width: 25vw;
                    min-width: 50px;
                    a:hover{
                        font-size: 18px;
                    }
                    a{
                        font-size: 17px;
                        letter-spacing: 4px;
                        .active{
                            font-size:19px;
                        }
                    }
                }
            }
        }
    }
    .line-desktop{
        border-top: 1px solid $logo-color;
    }
    .desktop-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        .carousel-container{
            justify-content: center;
            //padding: 0 2vw 0 4vw;
            .slideshow-container{
                width: 90vw;
                height: 70vh;
                margin-top: 5vw;
               .next, .prev{
                    padding: 8px;
                    //max-width: 40px;
                    //max-height: 40px;
                }
            }
        }
        #about-us-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30vw;
            margin-top: 4vw;
            div{
                margin-top: 0;
                font-weight: 6;
                font-size: 22px;
                letter-spacing: 3px;
            }
            p{
                //padding: 0 5vw 0 2vw;
                font-size: 15px;
                letter-spacing: 1px;
            }
        }

    }
    #submit{
        display:none;
    }

    #downward-arrow{
        display:none;
    }

    #contact-info{
        margin: 0;
        padding-top: 2vh;
    }

}