@media (orientation: landscape) and (max-height: 450px) {
    header{
        .logo-container{
            .logo img{
                //height: 30vh;
                //width: auto;
                width: 50%;
                margin-left: 25%;
                padding-top:5vh;
            }
        }

        .menu-container{
            .nav{
                width: 100vw;
                top: 35px;
            }
        }
    }

    .slideshow-container{
        width: 100vw;
        height: 62vh;
    }

    
}