@media (orientation: landscape) and (max-height: 450px) {
    header{
        .logo-container{
            .logo img{
                width: 40%;
                //width: 100px;
                //width: 50%;
                //margin-left: 25%;
                //padding-top:5vh;
            }
        }

        .menu-container{
            .nav{
                width: 100vw;
                top: 35px;
            }
        }
    }

    .slideshow-container{
        width: 100vw;
        height: 100vh;
    }

    
}