$font-stack: Helvetica, sans-serif;
$font-color: rgb(233, 233, 233);
$background-color: rgb(22, 22, 22);
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 100% $font-stack;
    overflow-x:hidden;
    background-color: $background-color;
    height:100%;
}

// top navigation bar 

header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    background-color: $background-color;
// Logo styling  
    .burger-logo-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .logo-container{
        display:block;
        margin-bottom: 15px;
        img{
            width: 80%;
            margin-left: 10%;
            padding: 20px 10vw 0 10vw;
        }
    }

    .burger div{
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .burger{
        padding: 10px;
        position: fixed;
        z-index: 99;
    }

// menu styling and animations
    .menu-container{
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
        // menu styling when hamburger button is pressed
        .nav{
            position: absolute;
            z-index: 100;
            position: fixed;
            display:flex;
            height: 95vh;
            width: 75vw;
            top: 5vh;
            right: 0;
            align-items:center;
            flex-direction: column;
            background-color: $background-color;
            opacity: 0.95;
            transform: translateX(100%);
            transition: transform 0.5s ease-in; 
        }
        ul{
            li{
                opacity: 0;
                a:hover{
                    font-size: 15px;
                    font-weight:bold;
                }
                list-style: none;
                padding: 10vh 0 10vh 0;
                }
                a{
                    color: $font-color;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-size: 14px;
                    .active{
                        font-size: 16px;
                        font-weight: bold;
                        text-decoration: underline;
                        color: $logo-color;
                        background-color:$background-color;
                }
            }
        }
        .nav-active{
            transform: translateX(0%)
        }

        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }

            to{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }

}

// slideshow carousel 
.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .slideshow-container{
    width: 90vw;
    position: relative;
    overflow: hidden; // crops pictures
    height: 50vh;
    img{
        position:absolute;
        height:100%;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
    }
 }

    .slide{
        display: none;
    }

    .prev, .next{
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 5vw;
        color: white;
        font-weight: bold;
        font-size: 25px;
        transition: 0.6s ease;
        user-select: none;
    }

    .next{
        right: 0;
        //margin-right: 4vw;
    }

    .prev:hover, .next:hover{
        border: 2px solid white;
        background-color: rgba(0,0,0,0.9);
    }
    // styling to make dots border-radius for corners
    .dot-container{
        margin-top: 15px;
        text-align: center;
    }
    .dot{
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 3px;
        background-color: white;
        border-radius: 50%;
        display: inline-block; // use this to show inside the container
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover{
        background-color: $logo-color;
    }

    .fade{
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade{
        from{opacity: .4}
        to{opacity: 1}
    }

// submit quote

#submit{
    margin-top: 15px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    #submit-button{
        display:flex;
        flex-direction:row;
        justify-content: center;
        .halfCircleLeft{
            width: 25px;
            height: 45px;
            border: 3px solid $font-color;
            border-right: none;
            border-radius: 25px 0 0 25px;
        }
        .rectangle{
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 145px;
            height: 45px;
            border-top: 3px solid $font-color;
            border-bottom: 3px solid $font-color;
            text-align:center;
            .request-container{
                padding-top: 2px;
                a{
                    text-decoration: none;
                    color: $font-color;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }
            }

        }
        .halfCircleRight{
            width: 25px;
            height: 45px;
            border: 3px solid $font-color;
            border-left: none;
            border-radius: 0 25px 25px 0;            
        }
    }
}


#downward-arrow{

    margin-top: 1vh;
    text-align: center;
    a{
        text-decoration: none;
        color: $font-color;
        cursor: pointer;
        font-weight: bold;
        font-size: 38px;
        user-select: none;
    }
    a:hover{
        color: white;
        font-size: 40px;
    }
}

#about-us-container{
    text-align: center;
    color: $font-color;
    div{
        font-weight: 3;
        margin-top: 2vh;
        text-decoration: underline;
        font-size: 19px;
    }
    p{
        margin-top: 2vh;
        padding: 0 3vw 0 3vw;
        font-size: 14px;
    }
}

#line{
    border-top: 1px solid $logo-color;
    margin-top: 5vh;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contact-info{
        a{
            text-decoration: none;
            color: $font-color;
        }
        padding: 4vh 0 2vh 0;
        color: $font-color;
        text-align: center;
        font-size: 15px;
    }
    #social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        #social-icons{
            a{
                text-decoration: none;
            }
            img{
                background-color: $font-color;
                border-radius:50%;
                border: 2px solid $font-color;
                width: auto;
                height: 7vh;
                min-height: 40px;
                max-height: 45px;
                margin: 0 1vw 2vh 1vw;
            }
            img:hover{
                background-color: white;
                border-width: 3px;
            }
        }


    }
}
