$font-stack: Helvetica, sans-serif;
$font-color: rgb(22, 22, 22);
$background-color: white;
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);
$font-sub: 0.8em;
$font-size: 1em;
$font-active: 1.1em;
$font-header: 1.2em;
$mobile-color: rgb(22,22,22);
$mobile-text: rgb(233,233,233);

#line{
    border-top: 1px solid $logo-color;
    margin-top: 5vh;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #contact-info{
        a{
            text-decoration: none;
            color: $font-color;
        }
        padding: 4vh 0 2vh 0;
        color: $font-color;
        text-align: center;
        font-size: 15px;
    }
    #social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
        #social-icons{
            a{
                text-decoration: none;
            }
            img{
                background-color: $logo-color;
                border-radius:50%;
                border: 1px solid $logo-color;
                width: auto;
                height: 7vh;
                min-height: 40px;
                max-height: 45px;
                margin: 0 1vw 2vh 1vw;
            }
            img:hover{
                border-width: 2px;
                border-color: black;
            }
        }
    }
    background: rgba(23,23,23,0.2);
}
