$font-stack: Helvetica, sans-serif;
$font-color: rgb(22, 22, 22);
$background-color: white;
$logo-color: #ef9629;
$hover-background: rgb(95, 95, 95);
$font-sub: 0.8em;
$font-size: 1em;
$font-active: 1.1em;
$font-header: 1.2em;
$mobile-color: rgb(22,22,22);
$mobile-text: rgb(233,233,233);

#about-us-container{
    width: 95vw;
    margin-top: 5vh;
    .line{
        width: 100vw;
        border: 1px solid $logo-color;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        max-width: 800px;
        margin-top: 2vh;
        line-height: 2;
    }
    ul{
        line-height:2;
        padding-left: 5vw;
    }
    text-align: left;
}

@media (max-width: 450px){
    #about-us-container{
        p, ul{
            margin-right: auto;
        }
    }

}